*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background-color: #ddd;
}
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    justify-content: center;
}
.product{
    width:20%;
    background-color: #fff;
    transition: transform .5s;
}
.product:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.151);
}